* {
  margin: 0;
  padding: 0;
}

#wrapper-ingredients {
  width: 50vw;
  #base {
    #base-img{
      width: 53.33%;
    }
    .ingredient-img {
      width: 50%;
      height: 60%;
    }
  }

  #ingredients {
    width: 60%;
    div{
      display: inline;
      img {
        width: 10%;
        height: 20%;
      }
    }

  }
}

